 <!-- Page Banner Section -->
    <section class="page-banner">
        <div class="image-layer lazy-image" data-bg="url('images/background/bg-banner-1.jpg')"></div>
        <div class="bottom-rotten-curve"></div>

        <div class="auto-container">
            <h1>Together we can.</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Team</a></li>
                <li class="active">Career</li>
            </ul>
        </div>

    </section>
    <!--End Banner Section -->
    
    <!--Team Section-->
    <section>
    <h3>No vacancy at the moment. But ....</h3>
    </section>
