@{
    ViewData["Title"] = "What do we do";
}
<section class="page-banner">
        <div class="image-layer lazy-image" data-bg="url('~/images/background/bg-banner-1.jpg')" data-was-processed="true" style="background-image: url(&quot;~/images/background/bg-banner-1.jpg&quot;);"></div>
        <div class="bottom-rotten-curve"></div>

        <div class="auto-container">
            <h1>Our Activities</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li class="active">What Ddo we do</li>
            </ul>
        </div>

    </section>
    <section class="what-we-do">
        <div class="auto-container">
                        
            <div class="row clearfix">
            
                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-water-bottle"></span></div>
                        <h3>Pure Water</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>
                
                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-fruit"></span></div>
                        <h3>Healthy Food</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>
                
                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-medicine"></span></div>
                        <h3>Medical Facilities</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>
                
                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-reading"></span></div>
                        <h3>Education</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-adoption"></span></div>
                        <h3>Adoption</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>
                
                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-hand"></span></div>
                        <h3>Receive Donation</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>
                
                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-shirt"></span></div>
                        <h3>Cloths Donation</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>
                
                <!--Service Block-->
                <div class="service-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-group"></span></div>
                        <h3>Social Activities</h3>
                        <div class="text">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolor magna aliqua enim ad minimveniam quis nostrud exercitation laboris.</div>
                    </div>
                </div>
                
            </div>
            
            <div class="bottom-image"><img class="lazy-image loaded" src="images/resource/services-bottom-image.png" data-src="images/resource/services-bottom-image.png" alt="" data-was-processed="true"></div>
            
        </div>
    </section>
    <section class="call-to-action-two">
        <div class="auto-container">
            <div class="inner clearfix">
                <div class="title-box"><h2>Become A Volunteer</h2></div>
                <div class="link-box"><a asp-action="Career" asp-controller="Team" class="theme-btn btn-style-five"><span class="btn-title">Get Involved</span></a></div>
            </div>
        </div>
    </section>